
html {
  --logo-text: "raleway", sans-serif;
  --head-text: "roboto", sans-serif;
  --link-color-hover: #2196f3;
}

/* homepage style*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--head-text);
}

body {
  font-family: Roboto, Raleway, sans-serif;
  background-color: #ffffff;
  width: 100%;
  top: -3267px;
  left: -3897px;
  color: #000000;
  margin: 0;
}

.nav-container {
  display: flex;  
  border-bottom: 1px solid #ECECEC;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.logo-text a {
  width: 145px;
  height: 31px;
  top: 24px;
  left: 215px;
  font-size: 24px;
  font-family: var(--logo-text);
  text-decoration: none;
  color: #000000;
  margin: 0px 40px 0px;
}

.blue {
  color: #2196f3;
}

.topnav {
  display: flex;
  width: 80%;
  justify-content: space-between;
  padding: 20px;
}

.navbar ul {
  background-color: #ffffff;
  overflow: hidden;
  line-height: 16.41px;
  display: flex;
  width: 405px;
  list-style-type: none;
  justify-content: space-between;
}

.navbar a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.navbar .currentweb {
  color: var(--link-color-hover);
}

.navbar a:hover,
.navbar a:focus {
  color: var(--link-color-hover);
}

.navbar a:active {
  color: red;
}

.navcontact {
  display: flex;
  width: 25%;
  justify-content: space-between;
  align-items: center;
}

.navcontact a {
  text-decoration: none;
  color: #757575;
  font-weight: 500;
}

.navcontact a:hover {
  color: var(--link-color-hover);
}

.navcontact a:focus {
  color: var(--link-color-hover);
}

.head-main {
  background-color: #2f303a;
  width: 100%;
  height: 600px;
  text-align: center;
  color: #ffffff;

}

.headmain-container {
  display: block;
  padding-top: 5%;
   
}

.solutions {
  font-weight: 900;
  font-size: 44px;
  justify-content:center;
}

.buttonservice {
  display: flex;
  justify-content: center; 
}

.btnservice {
  background-color: var(--link-color-hover);
  padding: 10px 20px;
  color: #ffffff;
  font-family: var(--head-text)
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.96px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: 1px solid var(--link-color-hover);
}

.btnservice:hover {
  border: 2px solid var(--link-color-hover);
}

.btnservice:focus {
  border: 2px solid var(--link-color-hover);
}



.aboutus {
  padding: 94px;
  display: flex;
  width: 1200px;
  margin: auto;

}

.column {
  float: left;
  width: 270px;
  height: 75px;
  margin: 0 30px;
  text-align: justify;
}

.middle-main {
  background-color: #ffffff;
  width: 100%;;
  text-align: center;
  display: flexbox;
  margin: 0;
}

.whatwedo-container {
  display: block;
  margin: auto;
  
}
.whatwedo {
  padding: 94px 215px;

}

.whatwedo-container .whatwedoimg {
  width: 1200px;
  height: 368px;
  display: inline-flex;
  justify-content:center;
  padding: 50px 30px;
  gap: 30px;
  list-style-type: none;
  margin: 0;
}

.whatwedo div h2 {
  margin: 0;
}

.whatwedoimg div img {
  width: 370px;
  height: 294px;
  align-items: center;

}


.footer-main {
  background-color: #f5f4fa;
  width: 100%;
  height: 648px;
  align-items: center;
  text-align: center;
}

.ourteam-container {
  display: block;
  padding: 0px 215px;
  
}

.ourteam-container div h2 {
  margin: auto;
  padding: 94px 0 50px 0;
}

.ourteam {
  background-color: #ffffff;
  width: 270px;
  height: 368px;
  box-shadow: 0px 2px 0px grey;
  -webkit-box-shadow: 0px 2px 20px grey;
  margin: 0px 0px 0px;
  justify-content: center;
}

.ourteam img {
  width: 270px;
  height: 260px;
}

.footer-main .footer-main-img {
  width: 1200px;
  height: 368px;
  display: inline-flex;
  justify-content:center;
  list-style-type: none;
  margin: 0;
  gap: 30px;
}
.footer {
  background-color: #2f303a;
  width: 100%;

}

.logo-text-footer a {
  width: 145px;
  height: 31px;
  top: 24px;
  left: 215px;
  padding: 1px;
  font-size: 24px;
  font-family: var(--logo-text);
  text-decoration: none;
  color: #000000;
}

.footeradress {
  display: inline-block;
  color: #ffffff;
}

.footeradress address a {
  text-decoration: none;
  display: inline-flex;
  color: #757575;
  font-weight: 400;
  margin-right: 10px;
  padding: 10px 0px;
}

.footeradress address a:focus,
.footeradress address a:hover {
  color: var(--link-color-hover);
}


.footerlogoadress {
  display: inline-block;
  margin: 50px 150px;
  
}

/* Portofolio style*/

.productscontainer {
  top: 174px;
  left: 215px;
  border: 1px;
  padding: 94px 215px;
  justify-content: center;
  display:flexbox;
}

.productscontainer ul {
  margin: auto;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
}


.productsimg {
  border: 1px solid #EEEEEE;
  list-style-type: none;
  height: auto;
  justify-content: center;
  display: flexbox;
  height: 404px;
  width: 370px;
  flex-basis: calc((100% - 90px)/3);
}

.productsimg img {
  width: 370px;
  height: 294px;
  top: 262px;
  left: 215px;

}

.products .productsimg div {
  margin: 20px 24px;
 }

.buttonproduct {
  width: 516px;
  height: 38px;
  top: 174px;
  left: 542px;
  list-style-type: none;
  display: flex;
  justify-content:space-around;
}


.buttonproduct .button {
  background-color: #f5f4fa;
  font-family: var(--head-text);
  border: none;
  color: #000000;
  text-decoration: none;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0.03em;
  font-size: 16px;
  cursor: pointer;
  text-transform:none;
  justify-content: center;
  padding: 0 18px;
  border-radius: 4px;
}

.productnav .buttonproduct:link,
.productnav .buttonproduct:visited {
  color: var(--link-color-hover);
}

li .button:focus,
li .button:hover {
  background-color: var(--link-color-hover);
  color: white;
  border-radius: 4px;
}


.buttonproduct a:active,
.currentweb:focus {
  color: var(--link-color-hover);
}



 
