html {
  --logo-text: "raleway", sans-serif;
  --head-text: "roboto", sans-serif;
  --link-color-hover: #2196f3;
  --text-heading-color: #212121;
  --text-white-color: #ffffff;
}

/* homepage style*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--head-text);
}

body {
  font-family: Roboto, Raleway, sans-serif;
  background-color: #ffffff;
  width: 100%;
  top: -3267px;
  left: -3897px;
  color: #000000;
  margin: 0;
}

.nav-container {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #ececec;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.logo-text {
  margin: 24px 93px 25px 215px;
}

.logo-text a {
  width: 145px;
  height: 31px;
  top: 24px;
  left: 215px;
  font-size: 24px;
  font-family: var(--logo-text);
  text-decoration: none;
  color: #000000;
  text-align: center;
}

.blue {
  color: var(--link-color-hover);
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  margin-top: 32px;
}

.topnav {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.navbar ul {
  background-color: #ffffff;
  line-height: 16.41px;
  width: 100%;
  list-style-type: none;
  display: flex;
  gap: 50px;
}

.navbar a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.navbar .currentweblist {
  border-bottom: 3px solid var(--link-color-hover);
}

.navbar .currentweb {
  color: var(--link-color-hover);
  fill: var(--link-color-hover);
}

.navbar .currentweb svg {
  fill: var(--link-color-hover);
}

.navbar a:hover,
.navbar a:focus {
  color: var(--link-color-hover);
  fill: var(--link-color-hover);
}

.navbar a:active {
  color: red;
}

.navcontact {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 35%;
  margin: 32px;
}

.navcontact span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.navcontact a {
  text-decoration: none;
  color: #757575;
  font-weight: 500;
  display: flex;
}

.navcontact a:focus,
.navcontact a:hover,
.regularcustomersicon:hover {
  color: var(--link-color-hover);
  fill: var(--link-color-hover);
}

.headmain {
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/mainsolutionimgbg.png");
  background-position: center;
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.headmain h1 {
  width: 100%;
  font-weight: 900;
  font-size: 44px;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.topservices {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 200px 452px;
}

.button-container {
  margin: 30px;
}
.btnservice {
  background-color: var(--link-color-hover);
  padding: 10px 20px;
  color: var(--text-white-color);
  font-family: var(--head-text);
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.96px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: 1px var(--link-color-hover);
}

.btnservice:focus {
  border: 1px solid var(--link-color-hover);
}

.aboutus {
  display: flex;
  width: 100%;
  justify-content: center;
}

.abouticon {
  display: block;
  margin: auto;
  padding: 25px 100px;
}

.aboutusicons {
  width: 100%;
  border-radius: 4px;
  background-color: rgba(245, 244, 250, 1);
  margin-bottom: 30px;
}

.column {
  float: left;
  width: 270px;
  margin: 0 15px;
  text-align: justify;
  align-items: center;
}

.column h4 {
  margin: 10;
}
.column p {
  font-family: var(--head-text);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #757575;
  margin: 0;
}

.whatwedo-container {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.whatwedoimglist {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 30px;
}

.whatwedoimglist img {
  max-width: 370px;
  max-height: 294px;
}

.ourteam-container {
  background-color: #f5f4fa;
  width: 100%;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
}

.team h2 {
  padding-bottom: 50px;
}

.ourteam {
  display: flex;
  background-color: #ffffff;
  width: 270px;
  box-shadow: 0px 2px 0px grey;
  -webkit-box-shadow: 0px 2px 20px grey;
  justify-content: center;
}

.ourteam div div {
  margin: 30px 43px;
  margin-bottom: 16px;
}

.ourteam div div h4 {
  margin-bottom: 10px;
}

.socialfind .socialbuttons-container .socialbuttonlink,
.ourteam .socialbuttons-container .socialbuttonlink {
  fill: rgba(175, 177, 184, 1);
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 12px;
}

.ourteam .socialbuttons-container {
  margin: 0;
  padding: 30px 32px;
  padding-top: 16px;
  justify-content: center;
  align-items: center;
}

.socialfind .socialbuttons-container a:hover,
.ourteam .socialbuttons-container a:hover {
  fill: var(--text-white-color);
  background-color: var(--link-color-hover);
}

.ourteam img {
  width: 270px;
  height: 260px;
}

.footer-main-img {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  gap: 30px;
}

.iconenvelope {
  width: 16px;
  height: 12px;
}

.iconphone {
  width: 10px;
  height: 16px;
}

.regular-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.regular-customers {
  display: flex;
  justify-content: center;
}
.regularcustomersicon {
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px;
  display: flex;
  justify-content: center;
}

.footer {
  background-color: #2f303a;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo-text-footer a {
  width: 145px;
  height: 31px;
  line-height: 30.52px;
  padding: 1px;
  font-size: 24px;
  font-family: var(--logo-text);
  text-decoration: none;
  color: var(--text-white-color);
}

.socialfind > h4,
.footeradress {
  display: inline-block;
  color: var(--text-white-color);
}

.footeradress address a {
  text-decoration: none;
  display: inline-flex;
  color: #757575;
  font-weight: 400;
  margin-right: 10px;
  padding: 10px 0px;
}

.footeradress address a:focus,
.footeradress address a:hover {
  color: var(--link-color-hover);
}

.footerlogoadress {
  display: inline-block;
  padding: 60px 215px;
}

.socialfind {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 206px;
}

.socialbuttons-container a {
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  border-radius: 50px;
}

.socialbuttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 10px;
  padding-top: 20px;
}

.socialbuttonlink {
  fill: var(--text-white-color);
}

/* Portofolio style*/

.container {
  padding: 94px 215px;
  justify-content: center;
  display: flex;
  flex-shrink: initial;
  flex-direction: column;
  row-gap: 50px;
}

.container ul {
  margin: auto;
  padding: 0;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  max-width: 1200px;
  margin: 0;
}

.productsimg {
  list-style-type: none;
  height: 404px;
  justify-content: center;
  display: block;
  max-width: 370px;
  flex-basis: calc((100% - 90px) / 3);
  box-shadow: 1px 4px 6px 0px #00000029, 0px 4px 4px 0px #0000000f,
    0px 1px 1px 0px #0000001f;
}

.productsimg img {
  width: 370px;
  height: 294px;
  top: 262px;
  left: 215px;
  vertical-align: middle;
}

.productsimg div {
  display: flex;
  flex-direction: column;
}

.productsimg > div h3 {
  font-family: var(--head-text);
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-align: left;
  color: var(--text-heading-color);
  margin: 20px 24px;
  margin-bottom: 4px;
}

.productsimg > div p {
  font-family: var(--head-text);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #757575;
  margin: 20px 24px;
  margin-top: 0;
}

.productnav {
  margin-bottom: 50px;
}

.buttonproduct {
  width: 516px;
  height: 38px;
  top: 174px;
  left: 542px;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.buttonproduct .button {
  background-color: #f5f4fa;
  font-family: var(--head-text);
  border: none;
  color: #000000;
  text-decoration: none;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0.03em;
  font-size: 16px;
  cursor: pointer;
  text-transform: none;
  justify-content: center;
  padding: 0 18px;
  border-radius: 4px;
}

.productnav .buttonproduct:link,
.productnav .buttonproduct:visited {
  color: var(--link-color-hover);
}

li .button:focus,
li .button:hover {
  background-color: var(--link-color-hover);
  color: var(--text-white-color);
  border-radius: 4px;
}

.buttonproduct a:active,
.currentweb:focus {
  color: var(--link-color-hover);
}

.regular-container div h2 {
  font-family: var(--head-text);
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgba(33, 33, 33, 1);
}

.regularcustomersicon {
  fill: rgba(175, 177, 184, 1);
  padding: 16px 32px;
}

.regular-customers-buttons {
  border: 1px solid rgba(175, 177, 184, 1);
  margin-left: 30px;
}
