
html {
  --logo-text: "raleway", sans-serif;
  --head-text: "roboto", sans-serif;
  --link-color-hover: #2196f3;
}

/* homepage style*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--head-text);
}

body {
  font-family: Roboto, Raleway, sans-serif;
  background-color: #ffffff;
  width: 100%;
  top: -3267px;
  left: -3897px;
  color: #000000;
  margin: 0;
}

.nav-container {
  display: flex;  
  border-bottom: 1px solid #ECECEC;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.logo-text a {
  width: 145px;
  height: 31px;
  top: 24px;
  left: 215px;
  font-size: 24px;
  font-family: var(--logo-text);
  text-decoration: none;
  color: #000000;
  margin: 0px 40px 0px;
}

.blue {
  color: #2196f3;
}

.topnav {
  display: flex;
  width: 80%;
  justify-content: space-between;
  padding: 20px;
}

.navbar ul {
  background-color: #ffffff;
  overflow: hidden;
  line-height: 16.41px;
  display: flex;
  width: 405px;
  list-style-type: none;
  justify-content: space-between;
}

.navbar a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.navbar .currentweb {
  color: var(--link-color-hover);
}

.navbar a:hover,
.navbar a:focus {
  color: var(--link-color-hover);
}

.navbar a:active {
  color: red;
}

.navcontact {
  display: flex;
  width: 25%;
  justify-content: space-between;
  align-items: center;
}

.navcontact a {
  text-decoration: none;
  color: #757575;
  font-weight: 500;
}

.navcontact a:hover {
  color: var(--link-color-hover);
}

.navcontact a:focus {
  color: var(--link-color-hover);
}

.head-main {
  background-color: #2f303a;
  width: 100%;
  height: 600px;
  text-align: center;
  color: #ffffff;

}

.headmain-container {
  display: block;
  padding-top: 5%;
   
}

.solutions {
  font-weight: 900;
  font-size: 44px;
  justify-content:center;

}

.buttonservice {
  display: flex;
  justify-content: center;
  
  
}

.btnservice {
  background-color: var(--link-color-hover);
  padding: 10px 20px;
  color: #ffffff;
  font-family: var(--head-text)
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.96px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: 1px solid var(--link-color-hover);
}

.btnservice:hover {
  border: 2px solid var(--link-color-hover);
}

.btnservice:focus {
  border: 2px solid var(--link-color-hover);
}

.column {
  float: left;
  width: 25%;
}

.aboutus::after {
  content: "";
  display: table;
  clear: both;
  margin: 50px 0px;
}

.middle-main {
  background-color: #ffffff;
  width: 100%;;
  top: 80px;
  text-align: center;
  display: inline-block;
}

.middle-main .whatwedo {
  width: 100%;
  top: 969px;
  left: 215px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: inline-block;
}

.whatwedoimg img {
  width: 370px;
  height: 294px;
  top: 1061px;
  margin: 30px 0px;
}

.footer-main {
  background-color: #f5f4fa;
  width: 100%;
  height: 648px;
  align-items: center;
  text-align: center;
}

.ourteam-container {
  display: block;
  padding-top: 4%;
  
}

.ourteam {
  background-color: #ffffff;
  width: 100%;
  height: 368px;
  top: 1635px;
  box-shadow: 0px 2px 0px grey;
  -webkit-box-shadow: 0px 2px 20px grey;
  margin: 5px 15px 0px;
}

.footer-main .footer-main-img {
  width: 1170px;
  height: 368px;
  top: 1635px;
  left: 215px;
  display: inline-flex;
  justify-content:center;
}
.footer {
  background-color: #2f303a;
  width: 100%;

}

.logo-text-footer a {
  width: 145px;
  height: 31px;
  top: 24px;
  left: 215px;
  padding: 1px;
  font-size: 24px;
  font-family: var(--logo-text);
  text-decoration: none;
  color: #000000;
}

.footeradress {
  display: inline-block;
  color: #ffffff;
}

.footeradress address a {
  text-decoration: none;
  display: inline-flex;
  color: #757575;
  font-weight: 400;
  margin-right: 10px;
  padding: 10px 0px;
}

.footeradress address a:focus,
.footeradress address a:hover {
  color: var(--link-color-hover);
}


.footerlogoadress {
  display: inline-block;
  margin: 50px 150px;
  
}

/* Portofolio style*/

.productscontainer {
  width: 100%;
  margin-top: 94px;
  justify-content: center;
  display:flexbox;
  align-items: center;
  align-content: center;
  
}



.buttonproduct {
  width: 516px;
  height: 38px;
  top: 174px;
  left: 542px;
  list-style-type: none;
  display: flex;
  justify-content:space-around;
  margin: 0;
}

.buttonproduct .button {
  background-color: #f5f4fa;
  font-family: var(--head-text);
  border: none;
  color: #000000;
  text-decoration: none;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0.03em;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  text-transform:none;
  justify-content: center;
  padding: 0 18px;
}

.productnav .buttonproduct:link,
.productnav .buttonproduct:visited {
  color: var(--link-color-hover);
}

li .button:focus,
li .button:hover {
  background-color: var(--link-color-hover);
  color: white;
  border-radius: 4px;
}


.buttonproduct a:active,
.currentweb:focus {
  color: var(--link-color-hover);
}



.productstore {
  display:flexbox;
  gap: 30px;
  flex-basis: calc((100%-60px)/3);
}

 

.productstore .productsimg {
  box-shadow: 0px 1px 1px grey;
  border: 1px;
  width: 370px;
  height: 404px;
  top: 262px;
  left: 615px;
  display:inline-table;
  flex: 1 1 150px;


}



.productstore div {
  display: flexbox;
  width: 1200px;
  
  
}
