
html {
    font-family:  Roboto, Raleway, sans-serif;
    --logo-text: "raleway", sans-serif;
    --head-text: "roboto", sans-serif;
    --link-color-hover: #2196F3;
}

//* homepage style*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family:var(--head-text)
}

body {
    background-color:#FFFFFF;
    width: 1600px;
    height: 2348px;
    top: -3267px;
    left: -3897px;
}

.navigation {
    text-align: center;
    position: relative;
}

.logo-text a {
    width: 145px;
    height: 31px;
    top: 24px;
    left: 215px;
    float: left;
    text-align: center;
    padding: 10px;
    font-size: 24px;
    font-family:var(--logo-text);
    text-decoration: none;   
}

.navbar {
    overflow: hidden;
    background-color: #FFFFFF;
    overflow: hidden;
    align-items: center;
    
}

.navbar a {
    float: none;
    padding: 14px 25px;
    text-decoration: none;
    color: black;
}

.navbar a:hover {
    color:#2196F3; 
}
.navbar a:active {
    color: red;
}


.navcontact {
    float: right;
    text-decoration: none; 
}

.head-main {
    background-color:#2F303A;
    width: 1600px;
    height: 600px;
    top: 80px;
    text-align: center;
    color: #FFFFFF;
    
}

.head-main div {
    width: 696px;
    height: 120px;
    top: 280px;
    left: 452px;
}

.middle-main {
    background-color:#FFFFFF;
    width: 1600px;
    height: 600px;
    top: 80px;
    text-align: center;
    display: inline-block;
}

.middle-main .whatwedo {
    width: 1170px;
    height: 386px;
    top: 969px;
    left: 215px;
    justify-content: center;
}

.whatwedoimg img {
    width: 370px;
    height: 294px;
    top: 1061px;
}


.footer-main {
    background-color:#F5F4FA;
    width: 1600px;
    height: 648px;
    top: 1449px;
    align-items: center;
    text-align: center;
    display: inline-block;     
}

.ourteam {
    background-color:#FFFFFF;
    width: 270px;
    height: 368px;
    top: 1635px;
    box-shadow: 0px 2px 0px grey;
    -webkit-box-shadow: 0px 2px 20px grey;
 
   
}

.footer-main .footer-main-img {
    width: 1170px;
    height: 368px;
    top: 1635px;
    left: 215px;
    display:inline-flex;
    justify-content:space-around;
   
}
.footer {
    background-color:#2F303A;
    width: 1600px;
    height: 251px;   
 }


 //* Portofolio style*/

 .productscontainer {
    background-color:#F5F4FA;
    width: 1170px;
    height: 1360px;
    top: 174px;
    left: 215px;
    border: 1px;  
    align-items: center;
 }
 .productnav {
   position: inherit;
    align-items: center; 
 }

.productnav ul {
    list-style-type: none;
    display: flex;

}
.buttonproduct {
    list-style-type: none;
    background-color: white ;
}

.productnav {
    background-color: #333333;
  }
  
  .productnav .buttonproduct:link,
  .productnav .buttonproduct:visited {
    color: var(--link-color);
  }
  
  li .button:hover {
    background-color: var(--link-color-hover);
    color:white;
  }
  
  .productnav .buttonproduct a:active {
    color:
  }

  .button {
    background-color: #F5F4FA;
    border: none;
    color: #000000;
    padding: 15px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: var(--head-text)
  }
  
.productsimg {
    background-color:#EEEEEE;
    width: 370px;
    height: 404px;
    top: 262px;
    -webkit-box-shadow: 0px 1px 4px grey;   
}

.productstore {
    width: 1170px;
    height: 1360px;
    top: 174px;
    left: 215px;
    display: flex;
    align-items: center;
    
}
    

